@use "sass:list";
@use "./functions" as *;

$desktop-b-media: null;
$desktop-media: 960.98;
$desktop-l-media: null;
$tablet-b-media: null;
$tablet-media: 600.98;
$tablet-l-media: null;
$mobile-b-media: null;
$mobile-media: 375.98;
$mobile-l-media: null;

$desktop-b: null;
$desktop: 960;
$desktop-l: null;
$tablet-b: null;
$tablet: 600;
$tablet-l: null;
$mobile-b: null;
$mobile: 375;
$mobile-l: null;

// @mixin desktop-b {
//   @media (width <= rem($desktop-b-media)) {
//     @content;
//   }
// }

// @mixin desktop-b-above {
//   @media (width > rem($desktop-b-media)) {
//     @content;
//   }
// }

@mixin desktop {
  @media (width <= rem($desktop-media)) {
    @content;
  }
}

@mixin desktop-above {
  @media (width > rem($desktop-media)) {
    @content;
  }
}

// @mixin desktop-l-above {
//   @media (width > rem($desktop-l-media)) {
//     @content;
//   }
// }

// @mixin desktop-l {
//   @media (width <= rem($desktop-l-media)) {
//     @content;
//   }
// }

// @mixin tablet-b {
//   @media (width <= rem($tablet-b-media)) {
//     @content;
//   }
// }

// @mixin tablet-b-above {
//   @media (width > rem($tablet-b-media)) {
//     @content;
//   }
// }

@mixin tablet {
  @media (width <= rem($tablet-media)) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > rem($tablet-media)) {
    @content;
  }
}

// @mixin tablet-l {
//   @media (width <= rem($tablet-l-media)) {
//     @content;
//   }
// }

// @mixin tablet-l-above {
//   @media (width > rem($tablet-l-media)) {
//     @content;
//   }
// }

// @mixin mobile-b {
//   @media (width <= rem($mobile-b-media)) {
//     @content;
//   }
// }

// @mixin mobile-b-above {
//   @media (width > rem($mobile-b-media)) {
//     @content;
//   }
// }

@mixin mobile {
  @media (width <= rem($mobile-media)) {
    @content;
  }
}

@mixin mobile-above {
  @media (width > rem($mobile-media)) {
    @content;
  }
}

// @mixin mobile-l {
//   @media (width <= rem($mobile-l-media)) {
//     @content;
//   }
// }

// @mixin mobile-l-above {
//   @media (width > rem($mobile-media)) {
//     @content;
//   }
// }

/*
  Используем список cleanFromDuration, чтобы обнулять transition-duration и 
  таким образом на мобильных устройствах при тапе по соответствующим элементам 
  во всех браузерах видеть не начало или середину анимации, а сразу её финал.
*/

@mixin hover($cleanFromDuration...) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (any-hover: none) {
    &:active {
      @if list.index($cleanFromDuration, itself) {
        transition-duration: 0s;
      }

      @if list.index($cleanFromDuration, innerElements) {
        & * {
          transition-duration: 0s;
        }
      }

      @if list.index($cleanFromDuration, after) {
        &::after {
          transition-duration: 0s;
        }
      }

      @if list.index($cleanFromDuration, before) {
        &::before {
          transition-duration: 0s;
        }
      }

      @if list.index($cleanFromDuration, innerPseudo) {
        & *::after,
        & *::before {
          transition-duration: 0s;
        }
      }

      @content;
    }
  }
}
