@use "helpers/index" as *;

:where(.reset-accordion-summary) {
  @include reset-accordion-summary;
}

:where(.reset-link) {
  @include reset-link;
}

:where(.reset-button) {
  @include reset-button;
}

:where(.reset-input-text) {
  @include reset-input-text;
}

:where(.reset-input-range) {
  @include reset-input-range;
}

:where(.reset-input-number) {
  @include reset-input-number;
}

.container {
  @include container;
}

.disable-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}

.visually-hidden {
  @include visually-hidden;
}

.visible-desktop {
  @include desktop-above {
    display: none !important;
  }
}

.hidden-desktop {
  @include desktop {
    display: none !important;
  }
}
// .hidden-desktop-l {
//   @include desktop-l {
//     display: none !important;
//   }
// }

// .visible-tablet-b {
//   @include tablet-b-above {
//     display: none !important;
//   }
// }

// .hidden-tablet-b {
//   @include tablet-b {
//     display: none !important;
//   }
// }

// .visible-tablet {
//   @include tablet-above {
//     display: none !important;
//   }
// }

// .hidden-tablet {
//   @include tablet {
//     display: none !important;
//   }
// }

// .hidden-tablet-l {
//   @include tablet-l {
//     display: none !important;
//   }
// }

// .visible-tablet-l {
//   @include tablet-l-above {
//     display: none !important;
//   }
// }

// .visible-mobile-b {
//   @include mobile-b-above {
//     display: none !important;
//   }
// }

// .hidden-mobile-b {
//   @include mobile-b {
//     display: none !important;
//   }
// }

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

// .visible-mobile-l {
//   @include mobile-l-above {
//     display: none !important;
//   }
// }

// .hidden-mobile {
//   @include mobile-l {
//     display: none !important;
//   }
// }

.disable-animation {
  transition: none !important;

  &::before,
  &::after,
  *,
  *::before,
  *::after {
    transition: none !important;
  }
}

.hide {
  @include hide;
}

.show {
  @include show;
}

.is-lock {
  overflow: hidden;
}
